<div class="fusion-secondary-header">
    <div class="fusion-row">
        <div class="fusion-alignleft">
            <div class="fusion-social-links-header">
                <div class="fusion-social-networks">
                    <div class="fusion-social-networks-wrapper"><a class="fusion-social-network-icon fusion-tooltip fusion-rss fusion-icon-rss" style="color:#ffffff;" href="http://www.agilegovleaders.org/feed" target="_blank" title="Rss"><span class="screen-reader-text">Rss</span></a>
                        <a class="fusion-social-network-icon fusion-tooltip fusion-twitter fusion-icon-twitter" style="color:#ffffff;" href="http://twitter.com/agilegovleaders" target="_blank" title="Twitter"><span class="screen-reader-text">Twitter</span></a><a
                            class="fusion-social-network-icon fusion-tooltip fusion-youtube fusion-icon-youtube" style="color:#ffffff;" href="https://www.youtube.com/channel/UCEQIwCCUY0oJJjn1gsnLMMQ" target="_blank" title="Youtube"><span class="screen-reader-text">Youtube</span></a><a
                            class="fusion-social-network-icon fusion-tooltip fusion-linkedin fusion-icon-linkedin" style="color:#ffffff;" href="http://www.linkedin.com/groups/Agile-Gov-6642487?home=&amp;gid=6642487&amp;trk=anet_ug_hm&amp;goback=%2Egmp_6642487"
                            target="_blank" title="Linkedin"><span class="screen-reader-text">Linkedin</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
