<div class="fusion-header-wrapper">
    <div class="fusion-header-v4 fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo- fusion-mobile-menu-design-modern fusion-sticky-menu-and-logo fusion-header-menu-align-left">

        {% include agl_top_social_red_bar.html %}

        <div class="fusion-header-sticky-height"></div>
        <div class="fusion-sticky-header-wrapper">
            <!-- start fusion sticky header wrapper -->
            {% include agl_top_logo_search.html %}
            <!-- NOTE: removed: % include agl_top_nav.html % -->
        </div>
        <!-- end fusion sticky header wrapper -->
    </div>
    <div class="fusion-clearfix"></div>
</div>
