<div class="fusion-secondary-main-menu">
    <div class="fusion-row">
        <div class="fusion-main-menu">
            <ul id="menu-primary" class="fusion-menu">
                <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-32 fusion-dropdown-menu"><a href="http://www.agilegovleaders.org/about/" aria-haspopup="true"><span class="menu-text">About</span></a>
                    <ul class="sub-menu">
                        <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/about/press/"><span class="">Press</span></a></li>
                        <li id="menu-item-578" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-578 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/category/agl-news/"><span class="">AGL News</span></a></li>
                        <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/about/agile-champions/"><span class="">Agile Champions</span></a></li>
                        <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/about/partners/"><span class="">Partners</span></a></li>
                    </ul>
                </li>
                <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-33 fusion-dropdown-menu"><a href="http://www.agilegovleaders.org/news/" aria-haspopup="true"><span class="menu-text">News</span></a>
                    <ul class="sub-menu">
                        <li id="menu-item-2513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2513 fusion-dropdown-submenu"><a href="http://agilegovleaders.org/news"><span class="">Articles</span></a></li>
                        <li id="menu-item-296" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-296 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/category/topics/agile-profile/"><span class="">Profiles</span></a></li>
                        <li id="menu-item-2194" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2194 fusion-dropdown-submenu"><a href="http://agilegovleaders.org/live"><span class="">AGL Live</span></a></li>
                        <li id="menu-item-403" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-403 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/category/topics/videos/"><span class="">Videos</span></a></li>
                    </ul>
                </li>
                <li id="menu-item-3682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3682 fusion-dropdown-menu"><a href="http://www.agilegovleaders.org/academy/" aria-haspopup="true"><span class="menu-text">Academy</span></a>
                    <ul class="sub-menu">
                        <li id="menu-item-5015" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5015 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/academy/product-owner/"><span class="">Government Product Owner</span></a></li>
                        <li id="menu-item-5014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5014 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/academy/project-manager/"><span class="">Government Project Manager</span></a></li>
                    </ul>
                </li>
                <li id="menu-item-3177" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3177 fusion-dropdown-menu"><a href="http://www.agilegovleaders.org/resources/" aria-haspopup="true"><span class="menu-text">Resources</span></a>
                    <ul class="sub-menu">
                        <li id="menu-item-2779" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2706 current_page_item menu-item-2779 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/handbook/"><span class="">Agile Government Handbook</span></a></li>
                        <li id="menu-item-3816" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3816 fusion-dropdown-submenu"><a href="http://www.agilegovleaders.org/case-studies/"><span class="">Case studies</span></a></li>
                    </ul>
                </li>
                <li id="menu-item-2549" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2549"><a href="http://www.agilegovleaders.org/events/"><span class="menu-text">Events</span></a></li>
                <li id="menu-item-1297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1297"><a href="http://www.agilegovleaders.org/jobs/"><span class="menu-text">Jobs</span></a></li>
                <li id="menu-item-5090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5090 fusion-last-menu-item"><a href="http://www.agilegovleaders.org/get-involved/"><span class="menu-text">Get Involved</span></a></li>
            </ul>
        </div>

        <div class="fusion-mobile-nav-holder">
            <ul id="menu-primary" class="fusion-menu">
                <li id="mobile-menu-item-32" class="fusion-mobile-nav-item" style=""><span href="#" aria-haspopup="true" class="fusion-open-submenu"></span><a href="http://www.agilegovleaders.org/about/"><span class="menu-text">About</span></a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="mobile-menu-item-359" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/about/press/"><span class="">Press</span></a></li>
                        <li id="mobile-menu-item-578" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/category/agl-news/"><span class="">AGL News</span></a></li>
                        <li id="mobile-menu-item-108" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/about/agile-champions/"><span class="">Agile Champions</span></a></li>
                        <li id="mobile-menu-item-81" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/about/partners/"><span class="">Partners</span></a></li>
                    </ul>
                </li>
                <li id="mobile-menu-item-33" class="fusion-mobile-nav-item" style=""><span href="#" aria-haspopup="true" class="fusion-open-submenu"></span><a href="http://www.agilegovleaders.org/news/"><span class="menu-text">News</span></a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="mobile-menu-item-2513" class="fusion-mobile-nav-item" style=""><a href="http://agilegovleaders.org/news"><span class="">Articles</span></a></li>
                        <li id="mobile-menu-item-296" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/category/topics/agile-profile/"><span class="">Profiles</span></a></li>
                        <li id="mobile-menu-item-2194" class="fusion-mobile-nav-item" style=""><a href="http://agilegovleaders.org/live"><span class="">AGL Live</span></a></li>
                        <li id="mobile-menu-item-403" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/category/topics/videos/"><span class="">Videos</span></a></li>
                    </ul>
                </li>
                <li id="mobile-menu-item-3682" class="fusion-mobile-nav-item" style=""><span href="#" aria-haspopup="true" class="fusion-open-submenu"></span><a href="http://www.agilegovleaders.org/academy/"><span class="menu-text">Academy</span></a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="mobile-menu-item-5015" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/academy/product-owner/"><span class="">Government Product Owner</span></a></li>
                        <li id="mobile-menu-item-5014" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/academy/project-manager/"><span class="">Government Project Manager</span></a></li>
                    </ul>
                </li>
                <li id="mobile-menu-item-3177" class="fusion-mobile-nav-item fusion-mobile-current-nav-item" style=""><span href="#" aria-haspopup="true" class="fusion-open-submenu"></span><a href="http://www.agilegovleaders.org/resources/"><span class="menu-text">Resources</span></a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="mobile-menu-item-2779" class="fusion-mobile-nav-item fusion-mobile-current-nav-item" style=""><a href="http://www.agilegovleaders.org/handbook/"><span class="">Agile Government Handbook</span></a></li>
                        <li id="mobile-menu-item-3816" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/case-studies/"><span class="">Case studies</span></a></li>
                    </ul>
                </li>
                <li id="mobile-menu-item-2549" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/events/"><span class="menu-text">Events</span></a></li>
                <li id="mobile-menu-item-1297" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/jobs/"><span class="menu-text">Jobs</span></a></li>
                <li id="mobile-menu-item-5090" class="fusion-mobile-nav-item" style=""><a href="http://www.agilegovleaders.org/get-involved/"><span class="menu-text">Get Involved</span></a></li>
            </ul>
        </div>

        <div class="fusion-secondary-menu-search">
            <form role="search" class="searchform" method="get" action="http://www.agilegovleaders.org/">
                <div class="search-table">
                    <div class="search-field">
                        <input type="text" value="" name="s" class="s" placeholder="Search ...">
                    </div>
                    <div class="search-button">
                        <input type="submit" class="searchsubmit" value="">
                    </div>
                </div>
                <input type="hidden" name="lang" value="en"></form>
        </div>
    </div>
</div>
