<div class="fusion-fullwidth fullwidth-box fusion-fullwidth-7  fusion-parallax-none nonhundred-percent-fullwidth" style="border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:30px;padding-top:30px;padding-left:0px;padding-right:0px;background-color:rgba(255,255,255,0);">
  <div class="fusion-row">
    <div class="fusion-three-fourth fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:0px;">
      <div class="fusion-column-wrapper">
        <div class="fusion-title title fusion-sep-none fusion-title-size-two" style="margin-top:0px;margin-bottom:0px;">
          {% if include.section.title != "Internal Nav" %}
            <h2 class="title-heading-left" id="{{include.section.title|slugify}}">{{include.section.title}}</h2></div>
          {% endif %}
          {{include.section.content}}
          {% include section_youtube.html section=include.section %}
        <div class="fusion-clearfix"></div>
      </div>
    </div>
  </div>
</div>
